*
    margin: 0
    padding: 0
body
    display: flex
    padding: 1vh
    justify-content: center
    #console
        padding: 1rem
        background-color: rgb(249, 255, 172)
    #grid
        border: 1px solid rgb(49, 95, 187)
        #start
            display: none
        display: grid
        .cell
            border: 1px solid rgb(244, 244, 244)
        .cursor
            background-color: rgb(157, 0, 0)
    .wide
        width: 95vh
        height: 95vh
    .high
        width: 95vw
        height: 95vw
