*
    margin: 0
    padding: 0
body
    display: flex
    padding: 1vh
    justify-content: center
    #grid
        height: 95vh
        width: 95vh
        border: 1px solid rgb(49, 95, 187)
        #start
            display: none
        display: grid
        .cell
            border: 1px solid rgb(243, 243, 243)
        .cursor
            background-color: rgb(157, 0, 0)